@page {margin: 0;padding: 0;}
  
    .page {
      position: relative;
      width: var(--page-width);
      min-width: var(--page-width);
      height: var(--page-height);
      min-height: var(--page-height);
      background: var(--page-color);
      margin: 0 auto;
      box-shadow: 1px 5px 15px #707070;
    }
    .page:first-of-type { margin-top: var(--margin-first-page); }
    .page:last-of-type { margin-bottom: var(--margin-last-page); }
    .bar {
      height: 100%;
      background: -webkit-linear-gradient(to right, #3a3a3c 6.8cm, var(--page-color) 6.8cm );
      background: linear-gradient(to right, #3a3a3c 6.8cm, var(--page-color) 6.8cm );
    }
    .page > .inner {
      position: relative;
      width: var(--page-inner-width);
      height: var(--page-inner-height);
      margin: 0 var(--page-inner-margin);
      top: var(--page-inner-top);
      overflow: hidden;
      /*border: 1.7px solid #E63469;*/
    }
    #head{
      margin-bottom: 0;
      
    }

    #r_row{
      margin-top: 2mm;
      margin-bottom : 0;
    }
    #r_row_1b{
      margin-top: 3mm;
      margin-bottom: 0;
      padding-left : 2.8cm;
    }
    #r_row_1c{
     /* margin-top: 4mm;*/  
      margin-bottom: 0;
      padding-left : 2.8cm;
    }
    #r_row_b{
      margin-top: 0;
      margin-bottom : 0;
    }
    #r_col{
      padding-left: 0;
      /*padding-right: 1.5mm;*/
      margin-right: 2mm;
      margin-bottom: 2mm;
    }
    #r_col_2{
      padding-left: 0;
      margin-right: 2mm;
      margin-bottom: 0;
      margin-top: 0;
    }
    #r_col_2b{
      padding-left: 0;
      margin-right: 2mm;
      margin-bottom: 0;
      margin-top: 3mm;
    }
    #sub_t{
      margin-left: 2.8cm;
      width: 16.6cm;
    }
    #row_input{
      margin-top: 0;
      margin-bottom: 0;
      height: 1cm;
    }
    #i_name{
      width: 15.1cm;
      background: none;
    }
    #i_order{
      width: 9cm;
    }
    #i_date{
      width: 4.8cm;
    }
    #i_comm{
      margin-left: 2.8cm;
      width: 16.6cm;
      height: 1cm;
    }
    #r_q1{
      margin-bottom: 0;
      margin-top: 6mm;
    }
    #radio_b{
      padding-top: 2mm;
    }